{% extends 'refeitorio/home.html' %}
{% block conteudo %}
<form method="POST" enctype="multipart/form-data" class="form-control">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Cadastrar" class="btn btn-primary">
</form>

<table class="table">
    <thead>
    <tr>
        <td>Id do Curso</td>
        <td>Nome do Curso</td>
        <td>Editar</td>
        <td>Excluir</td>
    </tr>
    </thead>
    <tbody>
    {% for curso in cursos %}
    <tr>
        <td>{{ curso.id_curso}}</td>
        <td>{{ curso.nome_curso}}</td>
        <td><a class="btn btn-warning" href="{% url 'editar_curso' curso.id_curso %}">Editar</a></td>
        <td><a  class="btn btn-danger" href="{% url 'deletar_curso' curso.id_curso %}">Excluir</a></td>
    </tr>
    {% endfor  %}
    </tbody>
</table>

{% endblock conteudo %}
